html, body {
  height: 100vh; /* ← обязательно */
  margin: 0;
  padding: 0;
}

/* 🌞 Светлая тема */
body {
  background-color: rgb(250, 250, 250);
  color: rgb(66, 66, 66);
}

/* 🌙 Тёмная тема */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #303030;
    color: #ffffff;
  }
}

a {
  text-decoration: none;
}

.valid {
  color: green;
  padding: 5px;
  border-radius: 4px;
}

.invalid {
  color: red;
  padding: 5px;
  border-radius: 4px;
}

/* Остальные стили */

.container {
  display: grid;
  height: 100vh; /* 100% от высоты окна */
  grid-template-rows: 15vh 25vh 25vh 25vh auto; /* 4 блока + футер */
}

/* Блоки контента */
.reg, .about, .ad, .chat {
  padding: 20px;
  box-sizing: border-box;
}

/* Футер всегда внизу */
footer {
  background: #222;
  color: white;
  padding: 20px;
}