html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* 🌞 Светлая тема */
body {
  background-color: white;
  color: black;
}

/* 🌙 Тёмная тема */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
    color: #e0e0e0;
  }
}

.container {
  display: grid;
  grid-template-rows: repeat(4, 1fr) auto;
  height: 100vh;
}

/* контентные блоки */
.section {
  
  padding: 10px;
  text-align: left;
  box-sizing: border-box;
  padding-left: 5%;
}

/* ФУТЕР — часть сетки, 5-ая строка */
footer {
  background: #222;
  color: white;
  padding: 30px;
  text-align: left;
  grid-row: 5;
}

/* Остальные стили */
a {
  text-decoration: none;
}

.valid {
  color: green;
  padding: 5px;
  border-radius: 4px;
}

.invalid {
  color: red;
  padding: 5px;
  border-radius: 4px;
}