<div id="reg">
    <h1>
        <span class="boom">💥</span> Напишите пароль <span class="boom">💥</span>
    </h1>
    <div id="check-password">

        <label for="password"></label>
        <input 
            type="text" 
            name="password" 
            id="password" 
            value="{{.Value}}" 
            class="input {{.Status}}"
            hx-post="/check-password"
            hx-trigger="keyup changed delay:300ms"
            hx-target="#reg"
            hx-swap="outerHTML"
        />

        <div class="status {{.Status}}">{{.Message}}</div>

        {{if eq .Status "valid"}}
        <!-- ⚙️ Вместо кнопки с hx-vals — обычная форма -->
        <input type="text" name="username" value="{{.Username}}">
        <input type="text" name="password" value="{{.Value}}">
        
        <button 
            hx-post="/email" 
            hx-vals='{
                "username": "{{.Username}}",
                "password": "{{.Value}}"
            }'
            hx-target="#reg" 
            hx-swap="outerHTML"
        >
            Далее
        </button>
        
        {{end}}

    </div>
</div>