<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>oke oke</title>
  <link rel="stylesheet" href="/static/style.css" />
  <link rel="stylesheet" href="/static/boom.css" />
  <script src="https://unpkg.com/htmx.org@1.8.4"></script>
</head>
<body>
  <div class="container">


    <div id="reg" class="section">
      <h1>
        <span class="boom">💥</span> Регистрация <span class="boom">💥</span>
      </h1>
      <button><b>ВХОД</b></button> |
      <button hx-get="/reg-name" hx-target="#reg" hx-swap="innerHTML">
        <b>РЕГИСТРАЦИЯ</b>
      </button>
    </div>

    <div class="section">
      <h1>oke oke</h1>
      <p>Our mini service oke oke is the fastest.</p>
      <p>Free and unlimited.</p>
      <p>Chat with anyone in our chat. Write boldly. It's free with us.</p>
    </div>

    <div class="section">
      <h1><span class="flower">🌺</span> Объявления <span class="flower">🌺</span></h1>
    </div>

    <div class="section">
      <h1>
        <span class="boom">💥</span>Чат<span class="boom">💥</span>
      </h1>
    </div>

    <footer>
      Код - это поэзия! <a href="https://wa.me/9137335181"><span class="heart">❤️</span></a>
    </footer>
  </div>
</body>
</html>